@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 900px;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-shadow: 0.15em 0.15em 0.1em rgba(0, 0, 0, 0.8);
  align-self: center;
  margin: auto;
}

.page-slider {
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* hide scroll bar for IE and Edge*/
  -ms-overflow-style: none;
  /* hide scroll bar for Firefox*/
  scrollbar-width: none;
}

/* hide scroll bar for chrome, safari, opera*/
.page-slider::-webkit-scrollbar {
  display: none;
}

.landing {
  height: 100%;
  display: grid;
  grid-template-rows: 5dvh 90dvh 5dvh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.landing>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.room-tile {
  display: grid;
  grid-template-rows: 10dvh 85dvh 5dvh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.room-title {
  grid-column: 1;
  grid-row: 1;
  font-size: 5dvh;
  font-weight: 800;
  padding: 2dvh;
}

.room-image {
  grid-column: 1;
  grid-row: 1 / 4;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 100%;
  width: 100%;
  display: inline;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* hide scroll bar for IE and Edge*/
  -ms-overflow-style: none;
  /* hide scroll bar for Firefox*/
  scrollbar-width: none;
}

/* hide scroll bar for chrome, safari, opera*/
.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  display: inline-grid;
  height: 90%;
  width: 100%;
  padding: 10dvh 0;
  white-space: initial;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 9fr 1fr;
  scroll-snap-align: start;
}

.features {
  grid-column: 1 / -1;
  grid-row: 1;
  padding: 2dvh;
  font-size: 3dvh;
}

.description {
  grid-column: 1 / -1;
  grid-row: 1;
  padding: 2dvh;
  font-size: 3dvh;
}

.availability-calendar {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2dvh;
  color: rgb(40, 40, 40);
  margin: 0 auto;
  text-shadow: none;
  font-size: auto;
  text-align: center;
  align-items: center;
  width: 75dvw;
}

th {
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

td {
  font-weight: 400;
  margin: 0x;
  padding: 0;
  height: 10%;
}

.status[data-status="empty"] {
  background-color: rgba(0, 128, 0, 0.8);
  border-radius: 2dvh;
  margin: 0px;
  color: rgb(225, 225, 225);
text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8);
}

.status[data-status="empty"]:after {
  content: "available";
}

.status[data-status="full"]:after {
  content: "full";
}

.status[data-status="full"] {
  background-color: rgba(128, 0, 0, 0.2);
  border-radius: 2dvh;
  margin: 0px;
  color: rgba(60, 60, 60, 0.5);
}

.slide-nav-left,
.slide-nav-centre,
.slide-nav-right,
.slide-navto-book {
  padding: 0 0;
}

.slide>a,
a:visited,
a:hover {
  color: #eee;
  text-decoration: none;
  font-size: 2.5dvh;
}

.slide-nav-left {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
}

.slide-nav-centre {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.slide-nav-right {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
}

.slide-navto-book {
  grid-column: 2 / 4;
  grid-row: 2;
  text-align: right;
}

.room-nav {
  grid-column: 1;
  grid-row: 3;
  font-size: 2.5dvh;
  text-align: center;
  background-color: rgba(255,255,255,0.25);
}

.room-nav>a,
a:visited,
a:hover {
  color: #eee;
  font-weight: 500;
  text-decoration: none;
  font-size: 3dvh;
}

/* Gallery */

.gallery {
  animation: fade-in-out 5s;
}

@keyframes fade-in-out {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
