@font-face {
  font-family: 'Carnivale';
  src: url(/fonts/carnevaleefreakshow-webfont.woff2) format('woff2'), /* Super Modern Browsers */
       url(/fonts/carnevaleefreakshow-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(/fonts/carnevaleefreakshow-webfont.ttf)  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Quentin';
  src: url(/fonts/QuentinCaps.ttf);
}

@font-face {
  font-family: 'Sandcreek';
  src: url(/fonts/Sancreek-Regular.ttf);
}

@font-face {
  font-family: 'Hobby Horse';
  src: url(/fonts/HobbyHorseNF.ttf);
}

@font-face {
  font-family: 'Romantique';
  src: url(/fonts/Romantiques.ttf);
}

@font-face {
  font-family: 'Ewert';
  src: url(/fonts/Ewert-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--darkcolor);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  background-color: #eee;
  margin: auto;
  max-width: 900px;
  --lightcolor: rgba(253, 253, 253, 1);
  --darkcolor: rgba(0, 0, 0, 1);
}

.newspaper-page {
  margin: 3dvw;
  height: 90dvh;
  box-shadow: 0dvw 0dvw 3dvw rgba(0, 0, 0, 0.75);
  padding: 1dvw;
  background-image: url(/images/4999936.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  background-color: var(--lightcolor);
  color: var(--darkcolor);
}

#newspaper-header {
  font-family: 'Romantique';
  border-top: var(--darkcolor) 0.5dvh solid;
  border-bottom: var(--darkcolor) 0.5dvh solid;
  height: 10dvh;
  font-size: 5dvh;
  text-align: center;
}

#newspaper-tagline {
  font-family: 'Carnivale';
  border-bottom: var(--darkcolor) 0.25dvh solid;
  height: 3.5dvh;
  font-size: 2.5dvh;
  text-align: center;
}

.page-container {
  height: 75dvh;
}

.page-layout {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 1dvw;
  padding-top: 0.5dvh;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(12, 1fr);
  text-align: justify;
}

.page-layout * {
  overflow: hidden;
}

#main-article-image-container {
  grid-area: 1 / 4 / 9 / 10;
}

#lion-image {
  mix-blend-mode: darken;
}

#main-article-headline {
  grid-area: 9 / 3 / 16 / 11;
  font-family: 'Carnivale';
  font-size: 11dvh;
  line-height: 0.75;
  font-weight: 400;
  text-align: center;
  align-self: center;
  padding-bottom: 1.5dvh;
  border-top: var(--darkcolor) 0.75dvw solid;
  border-bottom: var(--darkcolor) 0.75dvw solid;
  mix-blend-mode: normal;
}

#news-divider {
  grid-area: 16 / 1 / 17 / 13;
  font-family: 'Ewert';
  font-size: 2dvh;
  align-self: center;
  text-align: center;
}

#room-1-advert {
  grid-area: 17 / 1 / 25 / 5;
  display: grid;
  grid-template-rows: 2fr 2fr 5fr;
}

#room-1-advert-header {
  background-color: var(--darkcolor);
  color: white;
  font-family: fantasy;
  font-size: 3.5dvh;
  text-align: center;
  mix-blend-mode: darken;
}

#room-1-advert-blurb-top {
  background-color: var(--darkcolor);
  color: white;
  font-family: fantasy;
  font-size: 2dvh;
  text-align: center;
  mix-blend-mode: darken;
}

#room-1-advert-blurb-bottom {
  background-color: var(--darkcolor);
  color: white;
  font-family: fantasy;
  font-size: 5dvh;
  text-align: center;
  mix-blend-mode: darken;
}

#room-2-advert {
  grid-area: 17 / 5 / 25 / 9;
  border: var(--darkcolor) 1px solid;
}

#room-2-advert-header {
  color: var(--darkcolor);
  font-family: 'Sandcreek';
  font-size: 2.4dvh;
  text-align: center;
}

#room-2-advert-image {
  mix-blend-mode: darken;
}

#room-3-advert {
  grid-area: 17 / 9 / 25 / 13;
  color: var(--darkcolor);
  font-family: fantasy;
  font-size: 3.5dvh;
  text-align: center;
  padding-top: 5%;
  mix-blend-mode: darken;
}

.newspaper-page-header {
  font-family: 'Romantique';
  border-top: var(--darkcolor) 0.25dvh solid;
  border-bottom: var(--darkcolor) 0.25dvh solid;
  font-size: 3dvh;
  text-align: center;
  align-self: center;
}

#r1-main-image-container{
  grid-area: 1 / 1 / 12 / 6;
  padding-top: 5dvh;
}

#quarantine-image{
  mix-blend-mode: darken;
}

#r1-headline{
  grid-area: 1 / 1 / 4 / 13;
  font-family: 'Quentin';
  font-size: 7.5dvh;
}

.room-story {
  grid-area: 4 / 6 / 18 / 13;
  font-family: 'Hobby Horse';
  font-size: 2.2dvh;
  padding: 0 15px;
}

.room-features{
  grid-area: 13 / 2 / 24 / 9;
  font-family: 'Hobby Horse';
  font-size: 2.2dvh;
  text-align: left;
  line-height: 1.2;
  padding: 0 5px;
  list-style: square;
}

.other-news {
  grid-area: 13 / 8 / 15 / 13;
  font-family: 'Ewert';
  font-size: 1.5dvh;
  align-self: center;
  padding-left: 5px;
}



.page-r2advert {
  grid-area: 17 / 5 / 25 / 9;
  border: var(--darkcolor) 1px solid;
}

.page-r2advert-headline {
  color: var(--darkcolor);
  font-family: 'Sandcreek';
  font-size: 2.4dvh;
  text-align: center;
}

.page-r2advert-image {
  mix-blend-mode: darken;
}

.page-r3advert {
  grid-area: 17 / 9 / 25 / 13;
  color: var(--darkcolor);
  font-family: fantasy;
  font-size: 3.5dvh;
  text-align: center;
  padding-top: 5%;
  mix-blend-mode: darken;
}






#rc1 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 1 / span 1 / span 1
}

#r2 {
  font-family: 'Ewert';
  font-size: 20px;
  grid-area: 2 / 1 / span 1 / span 3
}

#r3 {
  font-family: 'Romantique';
  font-size: 20px;
  grid-area: 3 / 1 / span 1 / span 3
}

#r4 {
  font-family: 'Carnivale';
  font-size: 20px;
  grid-area: 4 / 1 / span 1 / span 3
}

#r5 {
  font-family: 'Circus';
  font-size: 20px;
  grid-area: 5 / 1 / span 1 / span 3
}

#r6 {
  font-family: 'Quentin';
  font-size: 20px;
  grid-area: 6 / 1 / span 1 / span 3
}

#r7 {
  font-family: 'Sandcreek';
  font-size: 20px;
  grid-area: 7 / 1 / span 1 / span 3
}

#r8 {
  font-size: 10px;
  grid-area: 8 / 1 / span 1 / span 1
}

#r9 {
  font-size: 10px;
  grid-area: 9 / 1 / span 1 / span 1
}

#r10 {
  font-size: 10px;
  grid-area: 10 / 1 / span 1 / span 1
}

#r11 {
  font-size: 10px;
  grid-area: 11 / 1 / span 1 / span 1
}

#r12 {
  font-size: 10px;
  grid-area: 12 / 1 / span 1 / span 1
}

#r13 {
  font-size: 10px;
  grid-area: 13 / 1 / span 1 / span 1
}

#r14 {
  font-size: 10px;
  grid-area: 14 / 1 / span 1 / span 1
}

#r15 {
  font-size: 10px;
  grid-area: 15 / 1 / span 1 / span 1
}

#r16 {
  font-size: 10px;
  grid-area: 16 / 1 / span 1 / span 1
}

#r17 {
  font-size: 10px;
  grid-area: 17 / 1 / span 1 / span 1
}

#r18 {
  font-size: 10px;
  grid-area: 18 / 1 / span 1 / span 1
}

#r19 {
  font-size: 10px;
  grid-area: 19 / 1 / span 1 / span 1
}

#r20 {
  font-size: 10px;
  grid-area: 20 / 1 / span 1 / span 1
}

#r21 {
  font-size: 10px;
  grid-area: 21 / 1 / span 1 / span 1
}

#r22 {
  font-size: 10px;
  grid-area: 22 / 1 / span 1 / span 1
}

#r23 {
  font-size: 10px;
  grid-area: 23 / 1 / span 1 / span 1
}

#r24 {
  font-size: 10px;
  grid-area: 24 / 1 / span 1 / span 1
}

#c2 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 2 / span 1 / span 1
}

#c3 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 3 / span 1 / span 1
}

#c4 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 4 / span 1 / span 1
}

#c5 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 5 / span 1 / span 1
}

#c6 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 6 / span 1 / span 1
}

#c7 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 7 / span 1 / span 1
}

#c8 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 8 / span 1 / span 1
}

#c9 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 9 / span 1 / span 1
}

#c10 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 10 / span 1 / span 1
}

#c11 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 11 / span 1 / span 1
}

#c12 {
  font-size: 10px;
  text-align: center;
  grid-area: 1 / 12 / span 1 / span 1
}